/Farmacia/build/
/Farmacia/dist/
/Farmacia/nbproject/private/
/Resp/dist/
/Resp/build/
/Resp/nbproject/private/
/Resp/build/built-jar.properties
/Resp/build/classes/Vistas/LoginV$1.class
/Resp/build/classes/Vistas/LoginV.class
/Resp/build/classes/main/Main.class
/Resp/dist/Resp.jar
/Resp/src/Vistas/Menu.form
/Resp/src/Vistas/Menu.java